<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Bài Thi</title>
    <link rel="stylesheet" href="/exam.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div id="countdown"></div>
    <div id="countdownData" data-time="3600"></div>

    <div id="questionGrid">
        <% exam.questions.forEach((question, index) => { %>
            <div class="grid-item" data-index="<%= index %>">
                <%= index + 1 %>
            </div>
        <% }); %>
    </div>

    <button id="scrollToTop" class="scroll-button">
        <i class="fas fa-chevron-up"></i>
    </button>
    <button id="scrollToBottom" class="scroll-button">
        <i class="fas fa-chevron-down"></i>
    </button>

    <section class="quiz-container">
        <form id="quiz-form" action="/submit-exam/<%= exam._id %>" method="post">
            <% exam.questions.forEach((question, index) => { %>
                <div class="question" style="font-size: 25px; margin-top: 40px;">
                    <p><%= index + 1 %>. <%= question.questionText %></p>
                    <% question.answerOptions.forEach((option, optionIndex) => { %>
                        <div style="margin-bottom: 20px;">
                            <input type="radio" name="question-<%= index %>" value="<%= optionIndex %>">
                            <label><%= String.fromCharCode(65 + optionIndex) %>. <%= option.answerBody %></label>
                        </div>
                    <% }); %>
                </div>
            <% }); %>
        </form>
    </section>
    <button id="submit-btn" style="width: 9%;">Nộp bài</button>
    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <h2>Xác nhận nộp bài</h2>
            <p>Bạn có chắc chắn muốn nộp bài không?</p>
            <button id="confirmSubmit">Xác nhận</button>
            <button id="cancelSubmit">Hủy</button>
        </div>
    </div>
</body>
</html>
<script src="/exam-script.js"></script>