<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chính</title>
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <script src="/home-script.js"></script>
</head>
<body>
    <header>
        <div class="header-content">
            <h1>PQUIZ</h1>
            <nav>
                <a href="/home" class="nav-item">Danh sách kỳ thi</a>
                <a href="/result" class="nav-item">Kết quả</a>
            </nav>
        </div>
        <a href="/logout" class="logout-icon">
            <i class="fas fa-sign-out-alt"></i>
        </a>
    </header>
    <section class="search-filter">
        <form action="/search" method="GET">
            <input type="text" id="search-name" name="name" placeholder="Tìm kiếm kỳ thi...">
            <select id="search-status" name="status">
                <option value="">Tất cả</option>
                <option value="Open">Truy cập tự do</option>
                <option value="Closed">Yêu cầu thời gian cụ thể</option>
            </select>
        </form>
    </section>
    <section class="exams-list" style="font-size: 20px;">
        <% exams.forEach(exam => { %>
            <div class="exam-item">
                <img src="images/Quiz_icon.png" alt="Icon" class="icon-image" style="scale: 50%; margin-top: -160px; margin-bottom: -60px; margin-left: +30px;">
                <h3 style="font-size: 28px;"><%= exam.name %></h3>
                <p>Status: <%= exam.status %></p>
                <p>Start Time: <span id="startTime-<%= exam._id %>"><%= formatTime(new Date(exam.timeStart)) %></span></p>
                <p>End Time: <span id="endTime-<%= exam._id %>"><%= formatTime(new Date(exam.timeEnd)) %></span></p>
                <% if (exam.status !== 'Closed') { %>
                    <a href="/start-exam/<%= exam._id %>" class="start-btn">Bắt đầu làm</a>
                <% } else { %>
                    <a href="#" class="start-btn disabled">Bắt đầu làm</a>
                <% } %>
            </div>
        <% }); %>
    </section>
     <!-- Thêm thẻ div để lưu dữ liệu về các exam dưới dạng JSON -->
     <div id="examsData" data-exams="<%= JSON.stringify(exams) %>"></div>
</body>
</html>